@tailwind base;
@tailwind components;
@tailwind utilities;

p.space > span {
  margin-left: 40px;
  position: relative;
}

p.space > span::before {
  content: "";
  width: 20px;
  height: 3px;
  background-color: gray;
  display: inline-block;
  top: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: -20px;
}

html.dark body .space span {
  color: gray;
}
